src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/net/.DS_Store
src/main/java/net/corior48/.DS_Store
src/main/java/net/corior48/waterbailey_discs/.DS_Store
src/main/java/net/corior48/waterbailey_discs/block/.DS_Store
src/main/java/net/corior48/waterbailey_discs/screen/.DS_Store
src/main/resources/.DS_Store
src/main/resources/assets/.DS_Store
src/main/resources/assets/waterbaileydiscs/.DS_Store
src/main/resources/assets/waterbaileydiscs/textures/.DS_Store
src/main/resources/assets/waterbaileydiscs/textures/gui/.DS_Store
.DS_Store
